<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<table>
	      <tr>
	        <th>Id</th>
	        <th>Author</th>
	        <th>Created</th>
	        <th>Description</th>
	        <th>Content</th>
	        <th>Title</th>
	        <th>Status</th>
	      </tr>
	      <tr th:each="post : ${posts}">
	        <td th:text="${post.id}">Onions</td>
	        <td th:text="${post.user.username}">2.41</td>
	        <td th:text="${post.created}">yes</td>
	        <td th:text="${post.description}">yes</td>
	        <td th:text="${post.content}">yes</td>
	        <td th:text="${post.title}">yes</td>
	        <td th:text="${post.status.toString()}">yes</td>
	      </tr>
	    </table>
	</div>
</body>