<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<a href="userprofile.html" th:href="@{/admin/home}"
		class="btn btn-md btn-warning btn-block">Go To Admin Home Page</a>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form autocomplete="on" action="#"
					th:action="@{/registration}" th:object="${author}"
					method="post" class="form-horizontal" role="form">
					<h2>Registration Form</h2>
					<div
						th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">
						<div class="col-sm-9">
							<label for="username" class="control-label">Username:</label> <input
								type="text" th:field="*{username}" id="username"
								class="form-control" maxlength="50"
								aria-describedby="username-help" /> <span
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
								id="username-help" class="help-block"></span>
						</div>
					</div>

					<div
						th:class="${#fields.hasErrors('nickname')}? 'form-group has-error' : 'form-group'">
						<div class="col-sm-9">
							<label for="username" class="control-label">Nickname:</label> <input
								type="text" th:field="*{nickname}" id="nickname"
								class="form-control" maxlength="50"
								aria-describedby="username-help" /> <span
								th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"
								id="nickname-help" class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label for="email" class="control-label">Email:</label> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label> <input type="email"
								th:field="*{email}" placeholder="Email" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label for="passowrd" class="control-label">Password:</label> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label> <input type="password"
								th:field="*{password}" placeholder="Password"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register
								User</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
	</div>

</body>
</html>